
RSSchool_T8.xcodeproj/xcuserdata/evgen.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
RSSchool_T8/1233213123.swift
RSSchool_T8/.DS_Store
.DS_Store
RSSchool_T8.xcodeproj/project.xcworkspace/xcuserdata/evgen.xcuserdatad/UserInterfaceState.xcuserstate
RSSchool_T8.xcodeproj/project.xcworkspace/xcuserdata/evgen.xcuserdatad/UserInterfaceState.xcuserstate
*.xcuserstate
